/* Define background Colour Palette*/
iframe{
	padding-left:20px;
}
h2{
	font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #122936;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 15px;
    padding-bottom: 0px;
}
.navbar-default .navbar-brand {
    color: rgba(255, 250, 250, 1);
}
.navbar-default {
    font-size: 14px;
    background-color: rgba(88, 133, 163, 1) ;
    border-width: 1px;
    border-radius: 4px;
}
.navbar-default .navbar-nav>li>a {
    color: rgba(255, 229, 229, 1);
    background-color: rgba(248, 248, 248, 0);
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(248, 248, 248, 0);
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(55, 80, 92, 1);
}
.navbar-default .navbar-toggle {
    border-color: #37505c;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #37505c;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #37505c;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #5885a3;
}